<header>
        <div>
            <h1>
                Blogger
            </h1>
            <button><img src="https://cdn.iconscout.com/icon/free/png-256/free-hamburger-menu-462145.png?f=webp"></button>
            <div>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact us</a>
                <a href="/post">Post</a>
            </div>
        </div>
    </header>
